// Your custom SCSS should be written here...
h1 {
  margin: 0;
  padding: 0;
}

tbody {
  display: block;
  height: 384px;
  overflow-y: scroll;
}

section {
//  border: 1px solid #cccccc;
//  background-color: #fafafa;
}
#userSection {
  margin: 0;
}

#userList {
  margin: 0;
}

#messageSection {
  margin: 0;
}

.send {
  width: 100px;
  float: right;
}

.send:hover {
  cursor: pointer;
}

